<RootLayout>
    <!-- <Drawer #drawer class="drawer">
        <GridLayout leftDrawer width="300" backgroundColor="white" rows="auto, *">
            <StackLayout row="0">
                <StackLayout backgroundColor="#eeeeee" padding="25">
                    <GridLayout columns="80, *" height="100">
                        <StackLayout col="0" class="avatar">
                            <Label text="JS"></Label>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout>
                        <Label text="John Smith" fontWeight="bold"></Label>
                        <Label text="john.smith@example.com"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout>
                    <Button text="My Profile" class="button"></Button>
                    <Button text="Settings" class="button"></Button>
                    <Button text="Rate Us" class="button" ></Button>
                    <Button text="Support" class="button" ></Button>
                    <Button text="Contact" class="button" ></Button>
                </StackLayout>
            </StackLayout>
        </GridLayout>

        <StackLayout mainContent backgroundColor="white"> -->
          <page-router-outlet></page-router-outlet>
        <!-- </StackLayout>
    </Drawer> -->
</RootLayout>
