<ActionBar>
  <Label text="Home"></Label>
</ActionBar>

<GridLayout>
          <GridLayout rows="auto, *, auto" height="100%">
            <!-- Add your page content here -->
            <Label row="0" text="Google sign in button:"></Label>
            <StackLayout row="1">
                <GoogleSignInButton colorScheme='auto' colorStyle='standard'></GoogleSignInButton>
            </StackLayout>

              <!-- <BannerAdView row="0" [unitId]="bannerAdId" (layoutChanged)="bannerLoaded($event)">
            </BannerAdView>  -->
</GridLayout>
